<article>
  <div class="header">
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    {{ if (eq .Type "post") }}
    <div class="posted">{{ .Date.Format "Jan 2, 2006" }}</div>
    {{ end }}
  </div>

  {{ if and .Params.readmore (not (.Scratch.Get "IsSingle")) }}
  <!-- with "read more" -->
  <div class="content">
    <div class="content-inner">
      {{ .Summary }}
      <p>
        {{ if .Truncated }}
        (<a href="{{ .RelPermalink }}">続きを読む</a>)
        {{ end }}
      </p>
    </div>
  </div>
  {{ else }}
  <!-- without "read more" -->
  <div class="content">
    <div class="content-inner">
      {{ .Content }}
    </div>
  </div>
  {{ end }}
</article>
