/*
https://jgthms.com/web-design-in-4-minutes/
*/

* {
    box-sizing: border-box;
}

/* back to basics */
a:link {
    color: #009;
}
a:visited {
    color: #606;
}
a:hover {
    color: #00f;
}
a:active {
    color: #00f;
}

body {
    background: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Helvetica Neue', 'Hiragino Kaku Gothic', sans-serif;
}

/* main */
main {
    line-height: 1.8;
    background: #fff;
    padding: 0 1rem;
    overflow: hidden;
    border-top: 1px solid #ddd;
}

main .content {
    margin-top: 1rem;
}

/* header */
header {
    background: #fff;
}

header .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 200%;
}

/* footer */

footer {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

footer .content {
    max-width: none;
    font-size: 90%;
    margin: 1rem;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;

    padding: .5rem;
    font-size: 90%;
    border: 1px solid #f0f0f0;
}

/* cancel the styles */
h1 a, h2 a {
    color: #000 !important;
    text-decoration: none;
}

footer a{
    color: #000 !important;
}

/* header */
.menu {
    font-size: 90%;
}

.menu a {
    text-decoration: none;
    color: #000 !important;
    padding: 0 .2rem;
    transition: color 200ms linear;
}
.menu a:first-child {
    padding-left: 0;
}
.menu a:last-child {
    padding-right: 0;
}
.menu:hover a {
    color: #999 !important;
}
.menu:hover a:hover {
    color: #000 !important;
}

ul {
    margin: 1rem 0;
}

li ul {
    margin: .2rem 0;
}

blockquote {
    margin: 0 0 0 2em;
    font-size: 95%;
    line-height: 1.5rem;
}

article {
    border-bottom: 1px solid #ddd;
}

article h2 {
    margin: 0;
}

article .header {
    margin: 0 auto;
}

article .posted {
    color: #666;
}

article .source {
    margin: 1rem 0;
    font-size: 80%;
    color: #666;
}

article .source a {
    color: #666 !important;
    text-decoration: none;
}

article .content .footer {
    font-size: 90%;
    font-family: monospace;
    border: 1px solid #000;
    margin: 2rem 0;
    padding: .5rem;
}

/* footnotes */

.footnotes {
    line-height: 1.5rem;
    font-size: 80%;
}

.footnotes hr {
    border: 0;
    height: 1px;
    background: #ccc;
}

.footnotes ol {
    margin: 0;
    padding: 1rem;
}

a.footnote-return {
    display: none;
}

sup.footnote-ref {
    vertical-align: super;
    font-size: 50%;
}

.photo {
    margin: 1rem -1rem;
}

.photo img {
    max-width: 100%;
    height: auto;
}

/* article */
div.fig img {
    max-width: 100%;
    height: auto;
}

div.photo {
    margin-top: 1em;
}

#pagination {
    background: #fff;
    padding: 1rem 0;
}

#pagination a {
    text-decoration: none;
}

#pagination .content {
    padding: 0 1rem;
}

#pagination .content-inner {
    display: flex;
    justify-content: space-between;
}

#pagination .column {
    text-align: center;
}

#pagination a {
    display: block;
    padding: 0.5rem;
    color: #333;
    border: 1px solid #ccc;
}

#pagination .number {
    display: block;
    padding: 0.5rem;
}

#pagination .disabled {
    display: none;
}

#pagination .active {
    font-weight: bold;
}

#list ul {
    list-style: none;
    margin: 2rem 0;
    line-height: 2;
    padding: 0;
}

#list li {
    margin-bottom: 1rem;
}

#list a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#list .posted {
    font-size: 90%;
    color: #666;
    line-height: 1;
}

@media (min-width: 800px) {
    header .content {
        padding: 1rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}


/* style for non-mobile */
@media (min-width: 1200px) {
    article .body {
        position: relative;
        padding-right: 20rem;
    }

    .footnotes {
        position: absolute;
        top: 0;
        right: 0;
        width: 20rem;
    }

    .footnotes  li {
        margin: 0 1rem;
    }

    .footnotes hr {
        display: none;
    }

    div.fig img {
        max-width: none;
    }
}

table tr:nth-child(odd)  {
    background: #f0f0f0;
}

table {
    font-size: 90%;
    border: 1px solid #000;
    border-collapse: collapse;
}

td {
    padding: .2rem;
}
