/*
https://jgthms.com/web-design-in-4-minutes/
*/

* {
    box-sizing: border-box;
}

/* back to basics */
a:link {
    color: #009;
}
a:visited {
    color: #606;
}
a:hover {
    color: #00f;
}
a:active {
    color: #00f;
}

body {
    background: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family:
        'Noto Sans', /* Linux */
        'Helvetica Neue', 'Hiragino Kaku Gothic', /* Mac */
        sans-serif;
}

/* main */
main {
    line-height: 1.8;
    background: #fff;
    overflow: hidden;
}

html[lang="en-us"] main {
    line-height: 1.6;
}

main .content {
    margin-top: 1rem;
}

/* header */
header {
    background: #fff;
    border-bottom: 1px solid #ccc;
}

header .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

header h1 {
    font-weight: normal;
    font-size: 120%;
    margin: 1rem 0;
}

/* footer */

footer {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

footer .content {
    max-width: none;
    font-size: 90%;
    margin: 1rem;
}

div.highlight pre {
    font-size: 90%;
    background: #f8f8f8 !important;
    padding: 1rem;
    white-space: pre-wrap;
}

/* cancel the styles */
h1 a, h2 a {
    color: #000 !important;
    text-decoration: none;
}

footer a{
    color: #000 !important;
}

/* header */
.menu {
    font-size: 90%;
    margin: 1rem 0;
    justify-content: space-between;
}

.menu a {
    display: block;
    text-decoration: none;
    color: #000 !important;
    transition: color 200ms linear;
    padding: .5rem 0;
}
.menu:hover a {
    color: #999 !important;
}
.menu:hover a:hover {
    color: #000 !important;
}

ul {
    margin: 1rem 0;
}

li ul {
    margin: .2rem 0;
}

blockquote {
    margin: 1rem 0;
    padding: .2rem 1rem;
    border-left: .5rem solid #69f;
    font-size: 95%;
    line-height: 1.5rem;
    background: #f0f0f0;
}

article {
    border-bottom: 1px solid #ccc;
}

article h2 {
    margin: 0;
}

article .header {
    margin: 0 auto;
}

article .meta {
    display: flex;
    color: #999;
    font-size: 90%;
}
article .meta > div {
    margin-right: 1rem;
}
article .meta a {
    text-decoration: none;
    color: #999 !important;
}

article .source {
    margin: 1rem 0;
    font-size: 80%;
    color: #666;
}

article .source a {
    color: #666 !important;
    text-decoration: none;
}

article .content .footer {
    font-size: 90%;
    font-family: monospace;
    border: 1px solid #000;
    margin: 2rem 0;
    padding: .5rem;
}

/* footnotes */

.footnotes {
    line-height: 1.5rem;
    font-size: 80%;
}

.footnotes hr {
    border: 0;
    height: 1px;
    background: #ccc;
}

.footnotes ol {
    margin: 0;
    padding: 1rem;
}

.photo {
    margin: 1rem -1rem;
}

.photo img {
    max-width: 100%;
    height: auto;
}

/* article */
div.fig img {
    max-width: 100%;
    height: auto;
}

div.photo {
    margin-top: 1em;
}

#pagination {
    background: #fff;
    padding: 1rem 0;
}

#pagination a {
    text-decoration: none;
}

#pagination .content {
    padding: 0 1rem;
}

#pagination .content-inner {
    display: flex;
    justify-content: space-between;
}

#pagination .column {
    text-align: center;
}

#pagination a {
    display: block;
    padding: 0.5rem;
    color: #333;
    border: 1px solid #ccc;
}

#pagination .number {
    display: block;
    padding: 0.5rem;
}

#pagination .disabled {
    display: none;
}

#pagination .active {
    font-weight: bold;
}

#list h3 {
    display: flex;
    font-weight: normal;
    margin: 0;
}

#list h3 .month {
    flex-grow: 2;
}

#list ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

#list li .row {
    margin-top: 1.5rem;
    align-items: baseline;
}

#list li a {
    text-decoration: none;
    color: #333;
    flex-grow: 2;
}

#list .posted {
    font-size: 90%;
    line-height: 1;
    margin-right: 1rem;
    white-space: nowrap;
}

#list .words {
    white-space: nowrap;
}

/* tags */
#list .tags {
    font-size: 90%;
    color: #666;
    white-space: nowrap;
}

#list .tags a {
    color: #666 !important;
}


:root {
    --main-column-width: 50rem;
}
header .content, article .content, #list .content, footer .content {
    max-width: var(--main-column-width);
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

@media (min-width: 50rem) {
    div.highlight {
        width: calc(100vw - 2rem);
        margin-left: calc((100vw - var(--main-column-width))/-2)
    }

    .menu {
        display: flex;
    }

    .menu a {
        padding-left: 0;
        padding-right: 0;
    }
}

div.image {
    margin: 1rem -1rem;
}

div.image img {
    width: 100%;
}

/* style for non-mobile */
@media (min-width: 70rem) {
    :root {
        --main-column-width: 70rem;
    }

    body {
        padding: 0;
    }

    div.image img {
        width: 68rem;
    }

    #list li .row {
        display: flex;
        justify-content: space-between;
    }

    #list .meta {
        width: 30%;
    }

    header .content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    header .content, article .content, #list .content, footer .content {
        max-width: var(--main-column-width);
        padding: 0 1rem;
    }

    article .body {
        position: relative;
        padding-right: 22rem;
    }

    .footnotes {
        position: absolute;
        top: 0;
        right: 0;
        width: 20rem;
    }

    .footnotes  li {
        margin: 0 1rem;
    }

    .footnotes hr {
        display: none;
    }

    div.fig img {
        max-width: none;
    }

    .menu a {
        padding: 1rem;
    }
}

table tr:nth-child(odd)  {
    background: #f0f0f0;
}

table {
    font-size: 90%;
    border: 1px solid #000;
    border-collapse: collapse;
}

td {
    padding: .2rem;
}

code {
    font-family: Monaco, monospace;
    font-size: .8em;
}


.words {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.words .bar {
    height: 5px;
    border-radius: 2px;
    background: #ccc;
}

.words .n {
    font-size: 80%;
}
