{{ partial "header.html" . }}

<main id="list">
  <div class="content">
    {{ if eq $.Page.Title "100DaysToOffload" }}
    <p>
      I was participating <a href="https://100daystooffload.com/">100 Days To Offload</a>.
    </p>
    {{ else }}
    <p>{{ len .Pages }} posts</p>
    {{ end  }}

    {{ range .Data.Pages.GroupByDate "2006" }}

    <h2>{{ .Key }}</h2>

    {{ range .Pages.GroupByDate "2006-01" }}

    <h3>
      <div class="month">{{ (index .Pages 0).Date.Format "January" }}</div>
      <div class="count">
        {{len .Pages }}
        {{ if eq (len .Pages) 1}}
        post
        {{else}}
        posts
        {{end}}
      </div>
    </h3>
    <ul>
      {{ range .Pages }}
      <li>
        <div class="row">
          <div class="posted">{{ .Date.Format "Jan 02, 2006" }}</div>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <div class="tags">
            {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
            {{ end }}  
          </div>
        </div>
        <div class="words">
          <div class="bar" style="width:{{div .WordCount 10}}px">&nbsp;</div>
          <div class="n">
            {{ if eq .Site.LanguageCode "ja-jp" }}
              {{.WordCount}}文字
            {{ else }}
            {{.WordCount}} words
            {{ end }}
          </div>
        </div>
      </li>
      {{ end }}
    </ul>

    {{ end }}

    {{ end }}
  </div>
</main>

{{ partial "footer.html" . }}
