{{ partial "header.html" . }}

<main id="list">
  <div class="content">
    {{ if eq $.Page.Title "100DaysToOffload" }}
    <p>
      I'm participating <a href="https://100daystooffload.com/">100 Days To Offload</a>.
      A simple challenge to publish 100 posts on a personal blog in a year.
      I've written {{ len .Pages }}/100 posts so far.
    </p>
    {{ else }}
    <p>{{ len .Pages }} posts</p>
    {{ end  }}

    {{ range .Data.Pages.GroupByDate "2006" }}

    <h2>{{ .Key }}</h2>

    {{ range .Pages.GroupByDate "2006-01" }}

    <h3>{{ (index .Pages 0).Date.Format "January" }}</h3>
    {{ if (ne (len .Pages) 1) }}
    <p>{{len .Pages }} posts</p>
    {{ end }}
    <ul>
      {{ range .Pages }}
      <li>
        <div class="posted">{{ .Date.Format "Jan 02, 2006" }}</div>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <div class="tags">
          {{ range (.GetTerms "tags") }}
          <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
          {{ end }}
        </div>
      </li>
      {{ end }}
    </ul>

    {{ end }}

    {{ end }}
  </div>
</main>

{{ partial "footer.html" . }}
