@import "prismjs/themes/prism.css";

:root {
    --footer-color: #f0f0f0;
    --sidenote-width: 20rem;
}

header, main, #pagination {
    background: #fff;
    overflow: hidden;
}

body {
    background: var(--footer-color);
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Helvetica Neue', 'Hiragino Sans', sans-serif;
}

footer {
    background: var(--footer-color);
}

h1, h2, h3, h4 {
    color: #000;
}

html[lang="ja-jp"] h1 {
    font-weight: normal;
    font-size: 1.2rem;
}

html[lang="en-us"] h1 {
    font-weight: normal;
    font-size: 1.5rem;
}

header .content,
article .header, article .content,
#pagination .content, footer .content, #list {
    max-width: 60rem;
    margin: 1rem auto;
    padding: 0 1rem;
}

code {
    font-family: 'Menlo', monospace;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;

    background: #f5f5f5;
    padding: .5rem;
}

code {
    background: #f5f5f5;
    padding: 0 .5em;
}

pre code {
    font-size: 80%;
}

/* back to basics */
a:link {
    color: #009;
}
a:visited {
    color: #606;
}
a:hover {
    color: #00f;
}
a:active {
    color: #00f;
}

/* cancel the styles */
h1 a, h2 a{
    color: #000 !important;
    text-decoration: none;
}

footer a{
    color: #000 !important;
}

/* header */

h1 {
    margin: 0;
    padding: 0;
}

header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    overflow: hidden;

    & .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    & .about {
        font-size: 90%;
        line-height: 2;
    }
}

.menu {
    font-size: 90%;
    line-height: 2;

    & a {
        margin: 0 1rem 0 0;
    }
}

ul {
    margin: 1rem 0;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.2rem;
}

h4 {
    margin: 0;
}

blockquote {
    margin: 0 0 0 2em;
    font-size: 90%;
    line-height: 1.5rem;
}

article {
    margin: 2rem 0;

    & .header {
        margin: 0 auto;
    }

    & .posted {
        font-size: 80%;
        line-height: 2rem;
        color: #999;
    }

    & p {
        margin: 1rem 0;
    }

    & .content {
        position: relative;
    }

    & .content-inner {
        line-height: 1.5rem;
    }

    /* footnotes */

    & .footnotes {
        line-height: 1.5rem;
        font-size: 90%;

        & hr {
            border: 0;
            height: 1px;
            background: #ccc;
        }

        & ol {
            margin: 0;
            padding: 1rem;
        }

        & a.footnote-return {
            display: none;
        }
    }

    & sup.footnote-ref {
        vertical-align: super;
        font-size: 50%;
    }

    & .photo {
        margin: 1rem -1rem;

        & img {
            max-width: 100%;
            height: auto;
        }
    }
}

div.photo {
    margin-top: 1em;
}

#pagination {
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
    }

    & .content {
        padding: 0 1rem;
    }

    & .content-inner {
        display: flex;
        justify-content: space-between;
    }

    & .column {
        text-align: center;
    }

    & a {
        display: block;
        padding: 0.5rem;
        color: #333;
        border: 1px solid #ccc;
    }

    & .number {
        display: block;
        padding: 0.5rem;
    }

    & .disabled {
        display: none;
    }

    & .active {
        font-weight: bold;
    }
}

footer {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: var(--footer-color);

    & .content {
        font-size: 90%;
    }
}

#list {
    padding: 0 1rem;

    & article {
        padding: 0;
    }
}

/* style for non-mobile */
@media (min-width: 800px) {
    header {
        & .content {
            flex-direction: row;
        }

        & .column {
            align-self: flex-end;
        }
    }

    .menu a {
        margin: 0 0 0 1rem;
    }

    /* show footnotes as sidenotes */
    article .content-inner,
    #pagination .content-inner {
        padding-right: var(--sidenote-width);
    }

    article .footnotes {
        position: absolute;
        top: 0;
        right: 0;
        width: var(--sidenote-width);

        & ol {
            padding: 0;
        }

        & hr {
            display: none;
        }
    }
}
