/*

- Colors are from https://material.io/guidelines/style/color.html

*/

/* Typography */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;

}

html[lang="en-us"] body {
    font-family: Georgia, serif;
}

header, h2, .posted, #pagination, footer {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

code {
    font-family: 'Menlo', monospace;
}

/* Define the color of <footer> */
html {
    background: #E0E0E0; /* Gray 400 */
    color: #212121;

    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* Define the color of the rest */
header, main, #pagination {
    background: #FAFAFA; /* Grey 50 */
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;

    background: #f5f5f5;
    padding: .5rem;
}

code {
    background: #f5f5f5;
    padding: 0 .5em;
}

pre code {
    font-size: 80%;
}

/* link */
a:link {
    color: #2196F3; /* Blue 500 */
}
a:visited {
    color: #9C27B0; /* Purple 500 */
}
a:hover {
}
a:active {
}

h1 a, h2 a {
    color: #212121 !important;
    background: unset !important;
    text-decoration: none;
}

#menu a, #pagination a {
    text-decoration: none;
}

/* basic structure */

article .header, #list {
    max-width: 45rem;
    margin-left:  auto;
    margin-right: auto;

    /* 1rem for a narrow screen such as mobile */
    padding: 0 1rem;
}

/* header */

header .content {
    padding: 1rem;
    margin: 2rem auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Hiragino Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

header .about {
    font-size: 90%;
    margin-top: .5em;
}

#menu {
    clear: both;
    overflow: hidden;
    font-size: 90%;
    border-bottom: 1px solid #ddd;
}

.menu {
    margin: 1rem 0;
}

.menu a {
    margin-right: 2rem;
}

/* article */

article {
    margin: 2rem 0;
}

article .header {
    padding: 0 1rem;
}

/* side margin for mobile devices */
article .content {
    margin: 0 1rem;
}

article .content {
    max-width: 45rem;

    margin: 1rem auto;
    padding: 0 1rem;
}

/* article */
article .photo {
    margin: 1rem -1rem;
}

h2 {
    margin: 0;
    font-size: 120%;
}

h3 {
    font-size: 100%;
}

article p {
    line-height: 1.5;
}

article .posted {
    font-size: 90%;
    color: #666;
}

article .photo img {
    max-width: 100%;
    height: auto;
}

article blockquote {
    margin: 0 0 0 2em;
    blockquote: 90%;
}

div.photo {
    margin-top: 1em;
}

/* pagination */

#pagination {
    margin: 0;
    padding: 0;
}

#pagination .content {
    padding: 1rem;

    display: flex;
    justify-content: space-between;
}

#pagination .column {
    text-align: center;
}

#pagination a, #pagination .number {
    display: block;
    padding: .5rem;
}

#pagination a {
    color: #111;
    border: 1px solid #aaa;
}

#pagination .disabled {
    display: none;
}

#pagination .active {
    font-weight: bold;
}

/* footer */
footer {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

footer .content {
    padding: 1rem;
}

footer a {
    padding-right: 1rem;
    text-decoration: none;
}

footer {
    font-size: 90%;
}

/* list */
#list {
    padding: 0 1rem;
}

#list article {
    padding: 0;
}

#list h2 {
    font-size: 1rem;
}

@media (min-width: 50rem) {
    header .content {
        margin: 4rem 0;
        flex-direction: row;
    }

    .menu {
        margin: 0;
    }

    .menu a {
        margin-left: 2rem;
        margin-right: 0;
    }

    article {
        margin: 4rem 0;
    }
}
